.highlight {
    color: green;
}

.mathslate-selected {
    background-color: blue;
}

.mathslate-preview {
    height: 130px;
    border: solid 1px;
    overflow: scroll;
    text-align: left;
}
.mathslate-workspace {
    background-color: #CDF; 
    background-color: #DDD; 
    height: 150px;
    text-align: center;
    line-height: 150px;
    vertical-align: middle;
}
.mathslate-toolbox {
color: #666;
}
.yui3-tabview-panel p {
padding: 1px;
}
.yui3-tabview-panel {
width: 373;
height: 40px;
}
