.highlight {
    color: green;
}

.mathslate-selected {
    background-color: blue;
}

.mathslate-preview {
    height: 130px;
    border: solid 1px;
    overflow: scroll;
    text-align: left;
}

.mathslate-editor {
    width: 375px
}
.mathslate-workspace {
    background-color: #CDF; 
    background-color: #DDD; 
    height: 100px;
    width: 375px
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
}

.mathslate-toolbox {
color: #666;
}

.yui3-tabview-panel p {
padding: 1px;
}

.yui3-tabview-panel {
height: 100px;
}

.mathslate-delete-button {
}

.mathslate-undo-button {
}

.mathslate-redo-button {
}

